/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}



.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contact-info a {
  font-size: 18px;
  color: #ff7f00;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

/* Styling for each law box */
.law-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #333;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  margin-top: 15px;
}

p {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 15px;
}

ul {
  list-style-type: disc;
  margin-left: 40px;
}

ul li {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

